<h2 mat-dialog-title class="dialog-title">
  Edit Workspace
</h2>

<mat-dialog-content class="dialog-content">
  <div class="dialog-row">
    <div class="form-field name">
      <mat-form-field class="input-field">
        <mat-label>Workspace Name</mat-label>
        <input matInput [(ngModel)]="workspaceName" name="workspaceName" required />
      </mat-form-field>
    </div>

    <div class="form-field desc">
      <mat-form-field class="input-field">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="description"
          name="description"
          rows="3"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!workspaceName">Save</button>
</mat-dialog-actions>

