<aside class="sidebar" [class.closed]="!open">
  <div class="sidebar-header">
    <h2 class="logo">DMS</h2>
    <button class="close-btn" aria-label="Close sidebar" (click)="closeSidebar()">☰</button>
  </div>
  <ul class="nav-links">
    <li><i class="fa fa-home"></i> Dashboard</li>
    <li class="active"><i class="fa fa-folder"></i> Workspaces</li>
    <li><i class="fa fa-file"></i> Documents</li>
    <li><i class="fa fa-search"></i> Search</li>
    <li><i class="fa fa-user"></i> Profile</li>
    <li><i class="fa fa-cog"></i> Settings</li>
    <li><i class="fa fa-power-off"></i> Logout</li>
  </ul>
</aside>