.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}